@font-face {
    font-family: inter;
    src: url(../font/Inter-VariableFont_slnt\,wght.ttf);
}

@font-face {
    font-family: monoid;
    src: url(../font/Monoid-Regular.ttf);
}

:root {
    --lines: #778896;
    --foreground: #cfd9e2E0;
}

body {
    overflow: hidden;
    background: #090e13;    
    background-image:
        radial-gradient(#000000 2px, transparent 0);
    background-size: 20px 20px;
    background-position: -10px -10px;
    
    background: #000000;    
    background-image:
        radial-gradient(#141c24 1px, transparent 0);
    background-size: 8px 8px;
    background-position: -4px -4px;

    color: #cfd9e2E0;
    font-family: inter;
    text-rendering: optimizeLegibility;
    line-height: 23px;
    font-size: 13px;
    font-weight: 300;
    letter-spacing: 1px;
}

.vmenu {
    display: inline-block;
    line-height: 23px;
    user-select: none;
}

.vmenu-category {
    display: inline-block;
    font-weight: bold;
    color: #cfd9e2;
    min-width: 5em;
    max-width: 13em;
    padding-left: 3em;
    text-align: right;
    cursor: default;
    vertical-align: top;
}

.vmenu-content-zone {
    display: inline-block;
}

.vmenu-content {
    display: inline-block;
    border-left: 1px solid var(--lines);
    padding-left: 5px;
    margin-left: 7px;
    vertical-align: top;
    margin-bottom: 31px;
}

.vmenu-block {
    width: auto;
}

.vmenu-item:hover,
.tp-btnv_t:hover,
.tool-button:hover {
    color: #FFFFFF;
    font-weight: bold;
    transition: font-weight ease-out 150ms, color ease-out 150ms;
}

.vmenu-item,
.tp-btnv_t,
.tool-button {
    transition: font-weight ease-out 150ms, color ease-out 150ms;
}

.tool-button {
    cursor: pointer;
}

.vmenu-item:active,
.tp-btnv_t:active,
.tool-button:active {
    text-decoration: underline;
}

.vmenu-item::after {
    display: block;
    content: attr(text);
    font-weight: bold;
    height: 0px;
    color: transparent;
    overflow: hidden;
    visibility: hidden;
}

#left-panel>*:first-child {
    margin-top: auto;
}

#left-panel>*:last-child {
    margin-bottom: auto;
}

#screen-col {
    display: flex;
    align-items: center;
    height: 100vh;
    text-align: justify;
}


#left-panel {
    padding-right: 1vw;
    padding-top: 10vh;
    padding-bottom: 10vh;
    display: inline-flex;
    flex-flow: column;
    flex-wrap: nowrap;
    height: 100vh;
    overflow-y: scroll;
    box-sizing: border-box;
    scrollbar-width: none;
    flex-shrink: 0;
}

#left-panel h1 {
    padding: 1em 2em;
    text-align: center;
    color: #e9f0f5;
    user-select: none;
}

#workspace {
    position: relative;
    box-sizing: border-box;
    flex-grow: 1;
    padding: 50vh calc(1vw + 23px) 50vh 17px;
    display: inline-flex;
    flex-flow: row;
    flex-wrap: wrap;
    align-items: flex-end;
    height: 100vh;
    width: 100%;
    overflow-y: scroll;
    box-sizing: border-box;
    scrollbar-width: none;
    cursor: grab;
}

#workspace > * {
    cursor: initial;
}

.space {
    position: relative;
    top: 0;
    left: 0;
    display: inline-block;
    margin: 1em 1%;
    /*padding-top: 3em;*/
}

.space.one-col {
    width: 100%;
}

.space.two-col {
    width: 48%;
}

.space-top-line {
    border-top: 1px solid var(--lines);
    height: 11px;
    border-left: 1px solid var(--lines);
    border-right: 1px solid var(--lines);
    position: relative;
    top: 11px;
}

.space-bottom-line {
    border-bottom: 1px solid var(--lines);
    height: 11px;
    border-left: 1px solid var(--lines);
    border-right: 1px solid var(--lines);
    position: relative;
    bottom: 11px;
}

.space-title {
    text-align: right;
    font-weight: bold;
    color: #e9f0f5;
    line-height: 1em;
    position: relative;
    top: 11px;
}

.space-title h2 {
    padding: 3px 7px 7px 0;
    cursor: move;
    background-color: transparent;
    vertical-align: bottom;
    margin: 0;
    transition: background-color ease-out 150ms;
}

.space-title h2:hover {
    background-color: #4d5a6840;
    transition: background-color ease-out 150ms;
}

.space-content {
    padding: 0 7px;
}

.space-buttons {
    padding-left: 5px;
    user-select: none;
    display: inline-block;
    position: relative;
    bottom: 11px;
}

.space-button {
    cursor: pointer;
    transition: font-weight ease-out 150ms, color ease-out 150ms;
    color: #fb9c04;
}

.space-button:hover {
    color: #fbcb49;
    font-weight: bold;
    transition: font-weight ease-out 150ms, color ease-out 150ms;
}

.space-button:active {
    text-decoration: underline;
}

#workspace>*:first-child {
    margin-top: auto;
}

#workspace>*:last-child {
    margin-bottom: auto;
}


#cmdline-container {
    font-family: monoid;
    font-size: 12px;
    letter-spacing: normal;
    text-rendering: initial;
    position: absolute;
    bottom: 0px;
    left: -1px;
    width: calc(100vw + 2px);
    height: 23px;
    color: inherit;

    --aug-tl: 19px;
    --aug-tr: 19px;
    --aug-inlay-bg: #202020;
    --aug-border-bg: #444c4c;
    --aug-border-top: 1px;
    --aug-border-left: 1px;
    --aug-border-right: 1px;
    --aug-border-bottom: 0px;
    --aug-inlay-all: 0%;
    --aug-tl-inset1: 25%;
    --aug-tr-inset2: 25%;
    --aug-tl-extend2: 20%;
}

#cmdline {
    text-align: center;
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    left: 25vw;
    width: 50vw;
    height: 19px;
    background: none;
    outline: none;
    border: none;
    padding: 1px 1em;
    resize: none;
    color: var(--foreground);
}

#cmdline:focus::placeholder {
    color: transparent;
}

#toolbar-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 5px;
    background: #2c3b49;
    text-align: center;
    border-bottom: 1px solid #090e13;
    user-select: none;
}

#toolbar {
    height: 23px;
    line-height: 19px;
    text-align: center;
    color: #cfd9e2;
    display: inline-block;
    padding: 0 47px;
    padding-bottom: 3px;
    margin-top: 3px;
    margin-left: auto;
    margin-right: auto;

    --aug-bl: 23px;
    --aug-br: 23px;
    --aug-inlay-bg: #2c3b49;
    --aug-border-bg: #090e13;
    --aug-border-top: 0px;
    --aug-border-left: 0px;
    --aug-border-right: 0px;
    --aug-border-bottom: 1px;
    --aug-inlay-all: 0%;
}


#top-vanish {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 11vh;
    background: linear-gradient(to bottom, #000000C0, transparent);
    pointer-events: none;
}

#bottom-vanish {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 7vh;
    background: linear-gradient(to top, #000000C0, transparent);
    pointer-events: none;
}








