@font-face {
    font-family: inter;
    src: url(../font/Inter-VariableFont_slnt\,wght.ttf);
}

:root {
    --lines: #959ca8;
}

body {
    background: #181818;
    background-image: radial-gradient(#22343b 1px, transparent 0);
    background-size: 20px 20px;
    background-position: -10px -10px;
    color: #cfd9e2;
    font-family: inter;
    text-rendering: optimizeLegibility;
    line-height: 23px;
    font-size: 16px;
    font-weight: 300;
}

.vmenu {
    display: inline-block;
    line-height: 23px;
    user-select: none;
}

.vmenu-category {
    display: inline-block;
    font-weight: bold;
    color: #cfd9e2;
    width: 13em;
    padding-left: 1em;
    text-align: right;
    cursor: default;
    vertical-align: top;
}

.vmenu-content-zone {
    display: inline-block;
}

.vmenu-content {
    display: inline-block;
    border-left: 1px solid var(--lines);
    padding-left: 11px;
    margin-left: 7px;
    cursor: pointer;
    vertical-align: top;
    margin-bottom: 23px;
}

.vmenu-block {
    width: auto;
}

.vmenu-item:hover {
    color: #FFFFFF;
    font-weight: bold;
    transition: font-weight ease-out 150ms, color ease-out 150ms;
}

.vmenu-item {
    transition: font-weight ease-out 150ms, color ease-out 150ms;
}

.vmenu-item:active {
    margin-left: -1px;
    font-style: italic;
}

.vmenu-item::after {
    display: block;
    content: attr(text);
    font-weight: bold;
    height: 0px;
    color: transparent;
    overflow: hidden;
    visibility: hidden;
}

#left-panel>*:first-child {
    margin-top: auto;
}

#left-panel>*:last-child {
    margin-bottom: auto;
}

#screen-col {
    display: flex;
    align-items: center;
    height: 100vh;
}


#left-panel {
    padding-right: 3vw;
    padding-top: 10vh;
    padding-bottom: 10vh;
    display: inline-flex;
    flex-flow: column;
    flex-wrap: nowrap;
    height: 100vh;
    overflow-y: scroll;
    box-sizing: border-box;
    scrollbar-width: none;
    flex-shrink: 0;
}

#left-panel h1 {
    padding: 1em 2em;
    text-align: center;
    color: #e9f0f5;
}

#workspace {
    box-sizing: border-box;
    flex-grow: 1;
    padding: 10vh calc(3vw + 23px) 10vh 23px;
    display: inline-flex;
    flex-flow: row;
    flex-wrap: wrap;
    align-items: flex-end;
    height: 100vh;
    width: 100%;
    overflow-y: scroll;
    box-sizing: border-box;
    scrollbar-width: none;
}

.space {
    display: inline-block;
    margin: 0 2%;
    padding-top: 5em;
}

.space.one-col {
    width: 90%;
}

.space.one-col {
    width: 46%;
}

.space-top-line {
    border-top: 1px solid var(--lines);
    height: 11px;
    border-left: 1px solid var(--lines);
    border-right: 1px solid var(--lines);
}

.space-bottom-line {
    border-bottom: 1px solid var(--lines);
    height: 11px;
    border-left: 1px solid var(--lines);
    border-right: 1px solid var(--lines);
}

.space-title {
    text-align: right;
    font-weight: bold;
    color: #e9f0f5;
}

.space-title h2 {
    padding: 3px 1em;
    cursor: move;
    background-color: transparent;
    vertical-align: bottom;
    margin: 0;
    transition: background-color ease-out 150ms;
}

.space-title h2:hover {
    background-color: #4d5a6840;
    transition: background-color ease-out 150ms;
}

.space-content {
    padding-left: 5px;
}

.space-buttons {
    cursor: pointer;
    padding-left: 5px;
    user-select: none;
}

.space-button {
    transition: font-weight ease-out 150ms, color ease-out 150ms;
    color: #fb9c04;
}

.space-button:hover {
    color: #fbcb49;
    font-weight: bold;
    transition: font-weight ease-out 150ms, color ease-out 150ms;
}

.space-button:active {
    font-style: italic;
}

#workspace>*:first-child {
    margin-top: auto;
}

#workspace>*:last-child {
    margin-bottom: auto;
}